# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Dungeon-Generator.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\Unity Repos\Dungeon-Generator\.idea\.idea.Dungeon-Generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
